body {
	background-color: #f9f9f9;;
	max-width: 800px;
	border-top: 5px solid #000;
	margin:0 auto;
	padding: 10px;
	font-size: 16px;
	font-family: 'Inconsolata', monospace;
}

#header {
	text-align: center;
}

#main {
	padding-top: 10px;
}

#address {
	text-align: center;
}

h1,h2,h3,h4 {
	font-family: 'Merriweather', sans-serif;
}

h1 {
	color: #000;
	font-size: 250%;
	letter-spacing: .1em;
	text-shadow: 2px 2px #d3d3d3;
	font-weight: 100;
}

h2 {
	font-size: 200%;
	font-weight: 10;
}

h3 {
	font-size: 180%;
	color: #646464;
	font-weight: 10;
}

p,li {
	font-family: 'Inconsolata', monospace;
	font-size: 120%;
	line-height: 1.2;
}

img {
	width: 100%;
	display: block;
    	margin: 0 auto;
	padding-bottom: 20px;
}

hr {
	width: 300px;
}

html{font-size:120%;} 
@media(min-width:900px){html{font-size: 100%}}
